{{#each this}}
<li class="cardProfile" id="card1">
    <img src="{{images}}[0]" alt="первое фото товара" class="startImgAd"
        width="150" />
    <div class="miniInfoAd">
        <button class="editId" id="{{_id}}">Edit</button>
        <p class="miniInfotitle">
            {{title}}
        </p>
        <p class="miniInfoPrice">
            {{__v}}
        </p>
        <p class="miniInfodescription">
            {{description}}
        </p>
    </div>
    <button class="dellIdAd" id="{{_id}}">X</button>
</li>
{{/each}}
