{{#each this}}
<li class="cardProfile" id="{{_id}}">
    <img src="{{images}}" alt="первое фото товара" class="startImgAd"
        width="150" />
    <div class="miniInfoAd">
        <button class="editId" id="{{_id}}" data-action="edit">Edit</button>
        <p class="miniInfotitle">
            {{title}}
        </p>
        <p class="miniInfoPrice">
            
        </p>
        <p class="miniInfodescription">m
            {{description}}
        </p>
    </div>
    <button class="dellIdAd" id="{{_id}}" data-action="delete">X</button>
</li>
{{/each}}
