<div ="handlebars">
    <li class="list">
          <h2 class="title">{{title}}</h2>
          <p class="author">{{author}}</p>
          <p class="telphone"></p>
          {{#each this}}
          <img src="{{image}}" width = '300'>
          {{/each}}
          <p class="description">{{description}}</p>
          <p class="price">{{price}}</p>
    </li>
</div>

