<li class="adsItem">
  <img src="{{images}}" height="60" alt="">
  {{!-- <div class="adsDescription">{{description}}</div> --}}
  {{!-- <p class="adsDate">{{expDate}}</p> --}}
  {{!-- <p class="adsCategory">{{category}}</p> --}}
  <h2 class="adsTitle">{{title}}</h2>
  <p class="adsPrice">{{price}}</p>
  {{!-- <p class="adsPhone">{{phone}}</p> --}}
</li>







