<div class="displayCardAdsWrap">
<div class="containerDisplayAdsCards">
<li class="adsItem">
  <div class="displayAdsCardsTopImg">
  <img src="{{images}}" height="60" alt="">
  </div>
  {{!-- <div class="adsDescription">{{description}}</div> --}}
  {{!-- <p class="adsDate">{{expDate}}</p> --}}
  {{!-- <p class="adsCategory">{{category}}</p> --}}
  <div class="displayAdsCardsBottomText">
  <h2 class="adsTitle">{{title}}</h2>
  <p class="adsPrice">{{price}}</p>
  </div>
  {{!-- <p class="adsPhone">{{phone}}</p> --}}
</li>
</div>
</div>







