<li class="ad-item adsItem category category{{category}}" data-adId="{{_id}}">

  <img class="ad-img"  src="{{images}}" alt="{{title}}">

  <h2 class="ad-heading adsTitle">{{title}}</h2>
  <p class="adsPrice ad-author">{{price}} грн</p>
</li>
