<li class="ad-item adsItem" data-adId="{{_id}}">
  {{#each images}}
  <img class="ad-img"  src="{{this}}" height="60" alt="{{title}}">
  {{/each}}
  <h2 class="ad-heading adsTitle">{{title}}</h2>
  <p class="adsPrice ad-author">Вартість {{price}} грн</p>
</li>
